<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="RegistrationForm" (ngSubmit)="onsubmit()">
        <div class="form-group col-12">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName = "userName">
            <span *ngIf="!userName?.valid 
            && userName?.touched " class="error-block">
          Name is mandatory
          </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName = "email">
          <span *ngIf="!email?.valid 
            && email?.touched " class="error-block">
            <span *ngIf="email.hasError('required')">
              EmailId is mandatory
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid EmailId
          </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName = "password" >
          <span *ngIf="!password?.valid 
            && password?.touched " class="error-block">
            <span *ngIf="password.hasError('required')">
              Please provide password
            </span>
            <span *ngIf="password.errors.minlength>
              Must contain at least one numberc,one uppercase,lowercase letter, and at least 8 or more characters
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName = "confirmPassword">
          <span *ngIf="!confirmPassword?.valid
            && confirmPassword?.touched " class="error-block">
            <span *ngIf="password.hasError('required')">
              Confirm Password is mandatory
            </span>
            <span class="text-danger" *ngIf="confirmPassword.get('confirmPassword')?.dirty && 
            (password.get('password')?.value
             !== confirmPassword.get('confirmPassword')?.value)">
              Password and Confirm Password must match
        </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName = "mobile">
          <span *ngIf="!mobile?.valid 
            && mobile?.touched " class="error-block">
            mobile is mandatory
          </span>
        </div>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary" style="margin:20px;">Register</button>

          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>